extends layout

block contentTemplate
    
    #content

    h3.comingSoon Coming soon...
        
    form(method="get" action="/")
        
        p.

        br
        br
        br
        br
        br
        
        a(href='/' )
                img(src="/images/back-icon.png" align="left" width="25px" height="25px" alt='Back to main menu')
