extends layout

block contentTemplate
    
    #content

        - var errs = errors
        if errs
            for err in errors
                p.errorp #{err.msg}

        h4.
            Create new user 
        
        form(method="post" action="/createUserSubmit")
            
            div
                label(for="firstName") First Name* : 
                    input(type="text", id="firstName" name="firstName" value=firstName placeholder="your first name")

            p.

            div
                label(for="lastName") Last Name* : 
                    input(type="text", id="lastName" name="lastName" value=lastName placeholder="your last name")

            p.

            div
                label(for="userId") User Id* : 
                    input(type="text", id="userId" name="userId" value=userId placeholder="user id")

            p.

            div
                label(for="password") Password* : 
                    input(type="password", id="password" name="password" placeholder="password")

            br
            table("width= 100%;")
                tr
                    td(style='width: '+(100/2)+'%' text-align="left")
                        a(href='/' )
                            img(src="/images/back-icon.png" align="left" width="25px" height="25px")
                    td(style='width: '+(100/2)+'%' text-align="right")
                        input(type="Submit" value="Submit")


