extends layout

block contentTemplate

  p 
    a(href="/createUser") Create user
  p
    a(href="/listUser") List Users
  p
    a(href="/trackActivity") Track activity
  p
    a(href="/comingSoon") List activity
  p
    a(href="/comingSoon") Activity stats
  
  