doctype html
html
  head
    title= 'Family Exercise Log'
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    - var locals = {title:'Family Exercise Log', displayDate: new Date().toDateString() }

    
  body
    div.bodyDiv
        h1.
            #{locals.title}
        h3.
            #{locals.displayDate}


        br
        br
        br

        table.layoutTable
            tr
                td(style='width: '+(100/2)+'%')
                    block contentTemplate
                td(style='width: '+(100/2)+'%')
                    img(src="/images/cheetah.jpg" align="right")

