extends layout

block contentTemplate
    
    #content

    - var usrs = users

    form(method="get" action="/")
        
        div.userList
          table
            thead
              tr: th Existing users
            tbody
              each usr, i in usrs
                tr(class=(i % 2 == 0) ? 'evenrow' : 'oddrow')
                  td
                    a(href='/deleteUser?id='+usr._id)
                        img(src="/images/delete-icon.png" align="left" width="20px" height="20px")
                  td 
                    a(href='#'+i) #{usr.firstName} - #{usr.lastName}

        p
        a(href='/' )
            img(src="/images/back-icon.png" align="left" width="25px" height="25px" alt='Back to main menu')

