extends layout

block contentTemplate
    
    #content

        - var errs = errors
        if errs
            for err in errors
                p.errorp #{err.msg}

        - var usersFromDb = users
        - var selectedUser = userId
        - var exerciseTypes = types
        - var selectedType = type

        h4.
            Track activity
        
        form(method="post" action="/trackActivitySubmit")


            div
                label(for="userId") User Id : 
                select(name="userId")
                    for userFromDb in usersFromDb
                        option(selected="#{userFromDb.userId}"==selectedUser value="#{userFromDb.userId}") #{userFromDb.userId}
                
            p.
            
            div
                label(for="type") Type : 
                select(name="type")
                    for exerciseType in exerciseTypes
                        option(selected="#{exerciseType}"==selectedType value="#{exerciseType}") #{exerciseType}


            p.

            div
                label(for="date") Date* : 
                    input(type="date", id="date" name="date" value=date)

            p.

            div
                label(for="unit") Unit* : 
                    input(type="text", id="unit" name="unit" value=unit)

            p.

            div
                label(for="count") Count* : 
                    input(type="number", id="count" name="count")

            p.

            div
                label(for="comment") Comment* : 
                    input(type="text", id="comment" name="comment" value=comment)

            br
            table("width= 100%;")
                tr
                    td(style='width: '+(100/2)+'%' text-align="left")
                        a(href='/' )
                            img(src="/images/back-icon.png" align="left" width="25px" height="25px")
                    td(style='width: '+(100/2)+'%' text-align="right")
                        input(type="Submit" value="Submit")


