body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

a {
  color: #00B7FF;
}

h1 {
    text-align: center;
    color : blue
}

h3 {
    text-align: center;
}

.bodyDiv {
    width: 900px;
    margin: 0 auto;
    
}

.errorp {
    color: red;
}

.comingSoon {
    text-align: center;
    color : red;
}

.userp {
    text-align: left;
    color : blue;
}

.evenrow {
    text-align: left;
    background-color: #F5F5F0;
}

.oddrow {
    text-align: left;
    background-color: #7A7A78;
}

.userList table thead {
    text-align: left;
}

.userList table tr {
    height : 30px;
}

.layoutTable {
    width= 300px;
    align-self: center;
}

form div {
    align-content: center;
}